name: Build and Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Fix app-builder exec permission (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          find node_modules/app-builder-bin/linux -type f -name "app-builder" -exec chmod +x {} \;

      - name: Build and release (Windows)
        if: matrix.os == 'windows-latest'
        run: yarn build:win --publish always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

      - name: Build and release (macOS)
        if: matrix.os == 'macos-latest'
        run: yarn build:mac --publish always
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: |
            dist/*.exe
            dist/*.dmg
